<h1 class="text-center">ENTER NEWS SOURCE</h1>

<form class="form">
  <div class="form-group">
    <label for="source">NEWS SOURCE</label>
    {{input value=source id="source"}}
  </div>

  <button class="btn btn-primary" {{action 'sourceLookUp'}}>GET NEWS</button>
</form>
