<div class="container-fluid">
  <div class="row searchrow">
    <div class="col-md-6">
    <h1>GET NEWS</h1>
    {{lookup-form sourceLookUp="sourceLookUp"}}
  </div>
  <div class="col-md-6">
    <h4>Get news from all categories</h4>
    <h4>Get news from trusted sources</h4>
    <h4>No more fake news</h4>
  </div>
  </div>
  <div class="row">
    <div class="row">
      <h3 class="text-center">Our news sources</h3>
      <h3 class="text-center">we have a wide selection of news sources</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://www.aljazeera.com&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">al-jazeera-english</p>
      </div>
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://www.bbc.co.uk/news&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">bbc-news</p>
      </div>
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://www.bbc.co.uk/sport&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">bbc-sport</p>
      </div>
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://www.bloomberg.com&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">bloomberg</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://us.cnn.com&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">cnn</p>
      </div>
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://espn.go.com&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">espn</p>
      </div>
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://www.ft.com/home/uk&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">financial-times</p>
      </div>
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://www.businessinsider.com&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">businessinsider</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=https://techcrunch.com&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">techcrunch</p>
      </div>
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://www.ign.com&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">ign</p>
      </div>
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://www.nytimes.com&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">the-newyork-times</p>
      </div>
      <div class="col-md-3">
        <img src="https://icons.better-idea.org/icon?url=http://www.recode.net&size=70..120..200" class="homepics img-responsive"/>
        <p class="text-center">recode</p>
      </div>
    </div>
  </div>

</div>
